body{
    background: black;
    color= white;
}
@font-face {
    font-family: Lemon;
    src: url(LEMONMILK-Regular.otf);
}
@font-face {
    font-family: Roboto;
    src: url("Roboto-Light.ttf");
}
h1{
    font-family: Lemon;
    color: white;
    text-align: center;
}

th {
    font-family: Roboto;
    color: white;
}

a {
    font-family: Roboto;
    color: white;
}

form {
    font-family: Lemon;
    color: white;
}
input[type=text] {
    border: 2px black solid;
    border-radius: 4px;
}
input[type=number] {
    border: 2px black solid;
    border-radius: 4px;
}
input[type=submit] {
    background: green;
    color: white;
    border: 1px solid darkcyan;
    border-radius: 10px;
}
input[type=reset] {
    background: darkred;
    color: white;
    border: 1px solid darkcyan;
    border-radius: 10px;
}
